{% extends 'base_auth.html' %} {% load static %} {% block content %}
<div class="reset-password-container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Reset Password</h5>
      <p class="card-text">
        Enter your email address and we'll send you a link to reset your
        password.
      </p>
      <form method="post" class="reset-password-form">
        {% csrf_token %}
        <div class="form-group">
          <label for="email">Email:</label>
          {{ form.email }}
        </div>
        <button type="submit" class="submit-btn">Reset Password</button>
      </form>
    </div>
  </div>
</div>

<link
  rel="stylesheet"
  href="{% static 'authentication/css/password_reset_request.css' %}"
/>
{% endblock content %}
