{% extends 'base_auth.html' %} {% load static %} {% block content %}

<div class="row justify-content-center align-items-center min-vh-100">
  <div class="col-md-6 col-lg-5">
    <div class="card shadow-lg border-0">
      <div class="card-body p-5">
        <div class="text-center mb-4">
          <h4 class="card-title text-primary">Register for a Free Account</h4>
          <p class="text-muted">Join us and get started today!</p>
        </div>
        <form action="{% url 'register' %}" method="post">
          {% csrf_token %} {% include 'partials/_messages.html' %}

          <div class="form-floating mb-3">
            <label for="first_nameField">First Name</label>

            <input
              type="text"
              name="first_name"
              placeholder="First Name"
              id="first_nameField"
              value="{{ fieldValues.first_name }}"
              class="form-control"
            />
          </div>

          <div class="form-floating mb-3">
            <label for="last_nameField">Last Name</label>

            <input
              type="text"
              name="last_name"
              placeholder="Last Name"
              id="last_nameField"
              value="{{ fieldValues.last_name }}"
              class="form-control"
            />
          </div>

          <div class="form-floating mb-3">
            <label for="usernameField">Username</label>

            <input
              type="text"
              name="username"
              placeholder="Username"
              id="usernameField"
              value="{{ fieldValues.username }}"
              class="form-control"
            />
          </div>

          <div class="form-floating mb-3">
            <label for="emailField">Email</label>

            <input
              type="email"
              name="email"
              placeholder="Email"
              class="form-control"
              id="emailField"
              value="{{ fieldValues.email }}"
            />
          </div>

          <div class="form-floating mb-3 position-relative">
            <label for="passwordField">Password</label>

            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control"
              id="passwordField"
            />
            <div class="password-utils">
              <div class="passwordStrengthIndicator"></div>

              <small
                class="position-absolute showPasswordToggle"
                style="
                  right: 10px;
                  top: 50%;
                  transform: translateY(-50%);
                  cursor: pointer;
                "
              >
                SHOW
              </small>
            </div>
          </div>

          <div class="d-grid">
            <input
              type="submit"
              value="Register"
              class="btn btn-primary btn-block submit-btn"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Include custom CSS file -->
<link rel="stylesheet" href="{% static 'authentication/css/register.css' %}" />
<script src="{% static 'authentication/js/register.js' %}"></script>

{% endblock content %}
