/* Navbar Styles */
.navbar {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  z-index: 1000;
  margin: auto;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.navbar-toggler {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1.5rem;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ff6347; /* Tomato color for hover effect */
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dropdown-item {
  padding: 0.5rem 0;
  color: rgb(4, 119, 196);
  text-decoration: none;
  display: block;
  transition: color 0.3s ease;
}

.dropdown-item:hover {
  color: #ff6347;
}

.dropdown-divider {
  height: 1px;
  background-color: #555;
  margin: 0.5rem 0;
}

@media (max-width: 768px) {
  .navbar-collapse {
    display: none;
    flex-direction: column;
    background-color: #333;
    width: 100%;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    width: 100%;
    margin: 0;
  }

  .nav-link {
    padding: 0.75rem 1.5rem;
    width: 100%;
    display: block;
  }

  .dropdown-menu {
    position: static;
    background-color: #444;
    width: 100%;
    box-shadow: none;
  }
}

/* Show dropdown menu on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

/* Toggle Navbar on Mobile */
#navbar-toggler.active + .navbar-collapse {
  display: flex;
}
